{{!-- {{#if post.access}}
<div class="comment container small">
    If you want to embed comments, this is a good place to do it!
</div>
{{/if}} --}}

<figure class="kudo kudoable" data-id="1">
<a class="kudobject">
    <div class="opening"><div class="circle">&nbsp;</div></div>
</a>
<a href="#kudo" class="count">
    <span class="num"></span>
    <span class="txt">KUDOS</span>
    <span class="donot">Don't<br>Move</span>
</a>
</figure>