<div class="cover container">
    <div class="rcover-content">
        <div class="row">
        <div class="col-sm-4">
            <div class="cover-icon">
                <img class="cover-icon-image" src="{{asset 'images/ramith.jpeg'}}" alt="{{@site.title}}">
            </div>
        </div>
        <div class="col-sm-8">
            {{#if @site.description}}
            <div class="cover-description"><h3 >Hey! I'm Ramith 😃</h3>
            <p>{{@site.description}}</p>
            {{!-- <p>This is my experimental version of the new personal website.
              I needed a space to centralize the content I post through various blogging platforms such as medium, svbtle and my own <a href="https://blog.ramith.fyi">blog</a>.
              This website accomplishes just that!
            </p> --}}
            <p style="font-weight: 450;">
                 Through this blog, I aspire to clearly write and share about <br> concepts
                  & advancements that <span style="color: #6b76ff;-webkit-background-clip: text!important;-webkit-text-fill-color: transparent;background-clip: text!important;background: #3b48f6;background: -webkit-gradient(left top,right bottom,color-stop(0,#3b48f6),color-stop(0,#3b48f6),color-stop(100%,#14b2fa));background: linear-gradient(135deg,#3b48f6,#3b48f6 30%,#14b2fa);">awe</span> me. 
            </p>
        
            </div>
            {{/if}}
            <hr>
            <br>
            <div class="container">
            <!--<div class="org-text">
            <p align="left"><u>Here are some organizations I am/was affiliated with,</u></p></div>-->

        </div>
        
            <!--
            <br>
            <div class="level">


            </div>
            -->
            

            

        </div>
        </div>


        {{#if false}}
            {{#unless @member}}
                <div class="cover-cta">
                    <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                    <button class="button button-secondary members-login" data-portal="signin">Login</button>
                </div>
            {{/unless}}
        {{/if}}
    </div>
    
</div>

        <section class="org-wrapper">
            <div class="container large">
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                      <p class="heading pb-2">
                        University of Moratuwa<br>
                        2017 - Present
                      </p>
                      <a class="image is-96x96 text-decoration-none" target="_blank" href="https://uom.lk/university_news/uom-wins-first-runner-award-2020-cass-covid-19-special-student-design-competition">
                        <img src="/assets/images/orgs/uom.png">
                      </a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                      <p class="heading pb-2">the A.I. Team (Pvt) Ltd
                          <br>
                          Aug 2018 - Present
                      </p>
                      <a class="image is-96x96 text-decoration-none" target="_blank" href="https://the-ai.team">
                      
                          <img id="0xAIT" src="/assets/images/orgs/0xAIT.png" id="screenshot" loading="lazy" />
                        
                      </a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                      <p class="heading pb-2">
                        Rotaract Mora<br>
                        July 2019 - June 2021
                      </p>
                      <a class="image is-96x96 text-decoration-none" target="_blank" href="https://rotaractmora.org/">
                        <img src="/assets/images/orgs/rotaractmora.png">
                      </a>
                    </div>
                </div>
                <!--<div class="level-item has-text-centered">
                    <div>
                      <p class="heading pb-2">Yaala Labs (Pvt) Ltd
                          <br>
                          April 2020 - May 2020
                      </p>
                      <a class="image is-96x96 text-decoration-none" target="_blank" href="https://www.yaalalabs.com/">
                        <img id="YAALA" src="/assets/images/orgs/yaalalabs.png">
                      </a>
                    </div>
                </div>-->
                <div class="level-item has-text-centered">
                    <div>
                      <p class="heading pb-2">SPS Student Branch
                          <br>
                          Sep 2020 - Present
                      </p>
                      <a class="image is-96x96 text-decoration-none" target="_blank" href="https://edu.ieee.org/lk-uomsps/">
                        <img id="SPS" src="/assets/images/orgs/sps.png">
                      </a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                      <p class="heading pb-2">CSIRO | Data61
                          <br>Oct 2020 - May 2021
                      </p>
                      <a class="image is-96x96 text-decoration-none" target="_blank" href="https://research.csiro.au/robotics/">
                        <img id="CSIRO" src="/assets/images/orgs/csiro.png">
                      </a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                      <p class="heading pb-2">Sustainable Education <br>Foundation
                          <br>
                          Sep 2020 - Sep 2021
                      </p>
                      <a class="image is-88x88 text-decoration-none" target="_blank" href="https://sefglobal.org/">
                        <img src="/assets/images/orgs/sef.png">
                      </a>
                    </div>
                </div>
                <!--
                <div class="level-item has-text-centered">
                    <div>
                      <p class="heading pb-2">Signal Procesing <br>Society
                          <br>
                          Sep 2020 - Present
                      </p>
                      <a class="image is-88x88 text-decoration-none" target="_blank" href="https://edu.ieee.org/lk-uomsps/">
                        <img src="/assets/images/orgs/sps.png">
                      </a>
                    </div>
                </div>-->

            </div>

            </div>
        </section>
