<section class="footer-wrapper">
<footer class="site-footer container">
    <div class="social">
         <a class="social-item social-item-linkedin"
                href="https://lk.linkedin.com/in/ramithhettiarachchi" target="_blank"
                rel="noopener noreferrer" aria-label="Linkedin">
                <svg class="icon">
                    <use xlink:href="#linkedin"></use>
                </svg>
            </a>
        {{#if @site.facebook}}
            <a class="social-item social-item-facebook"
                href="{{facebook_url @site.facebook}}" target="_blank"
                rel="noopener noreferrer" aria-label="Facebook">
                <svg class="icon">
                    <use xlink:href="#facebook-box"></use>
                </svg>
            </a>
        {{/if}}
        {{#if @site.twitter}}
            <a class="social-item social-item-twitter"
                href="{{twitter_url @site.twitter}}" target="_blank"
                rel="noopener noreferrer" aria-label="Twitter">
                <svg class="icon">
                    <use xlink:href="#twitter-footer"></use>
                </svg>
            </a>
        {{/if}}
        <a class="social-item social-item-youtube" style="margin-left: 10px; margin-right: 9px;"
            href="https://www.youtube.com/user/RamithHettiarachchi"
            target="_blank" rel="noopener noreferrer" aria-label="YouTube">
            <svg class="icon">
                <use xlink:href="#youtube-box"></use>
            </svg>
        </a>
        <a class="social-item social-item-youtube" style="margin-left: 10px; margin-right: 9px;"
            href="https://scholar.google.com/citations?hl=en&user=NjG1z50AAAAJ&view_op=list_works&sortby=pubdate"
            target="_blank" rel="noopener noreferrer" aria-label="Google Scholar">
            <svg class="icon">
                <use xlink:href="#google-scholar"></use>
            </svg>
        </a>


        <!--<a class="social-item social-item-rss"
            href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/"
            target="_blank" rel="noopener noreferrer" aria-label="RSS">
            <svg class="icon">
                <use xlink:href="#rss-box"></use>
            </svg>
        </a>-->


    </div>

    <div class="copyright">
        Crafted with ♥ by Ramith. Inspired by <a href="https://github.com/TryGhost/Dawn" target="_blank"
            rel="noopener noreferrer">Dawn</a>
    </div>

    <nav class="footer-nav">
        {{navigation type="secondary"}}
        <a class="menu-item js-theme" href="#" data-system="System theme" data-dark="Dark theme" data-light="Light theme">
            <svg class="icon theme-icon theme-icon-system">
                <use xlink:href="#circle-half-full"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-dark">
                <use xlink:href="#brightness-2"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-light">
                <use xlink:href="#white-balance-sunny"></use>
            </svg>
            <span class="theme-text">System theme</span>
        </a>
    </nav>
</footer>
</section>