{{!< default}}

<div class="content-area-post">
    <main class="site-main">
        {{#post}}
            {{> content no_image=true}}
        {{/post}}
        {{#is "post"}}
            {{> related}}
            {{> comment}}
        {{/is}}
    </main>
</div>