{{!< default}}

<div class="content-area-feed">
    <main class="site-main">
        <div class="post-feed container medium">
                {{#foreach posts}}
                {{^has tag="news"}}
                    {{> "loop"}}
                {{/has}}
                {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>