.cover {
    margin-top: 12.5rem;
}

.cover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
.rcover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cover-icon {
    position: relative;
    margin-bottom: 2rem;

    /* position: absolute; */
}

.cover-icon-image {
    width: 250px;
    border-radius: 50%;
    /* box-shadow: 5px 6px 20px 9px hsla(0,0%,40%,.1); */
    box-shadow: 2px 2px 20px 9px hsl(203deg 100% 37% / 17%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* .cover-icon-image-hover {
    width: 230px;
    border-radius: 50%;
    box-shadow: 5px 6px 20px 9px hsla(0,0%,40%,.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
} */

/* .cover-icon:hover .cover-icon-image-hover {
    display: inline;
} */

.cover-icon-image.white {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.cover-description {
    font-size: 1.5rem;
}

.cover-cta {
    display: flex;
    margin-top: 2rem;
}

.cover-cta .button {
    margin: 0 0.5rem;
}
