.top-bar {
    border-top: var(--theme-topbar-border-top-size, 3px) solid rgb(17,17,17);
}

.sticky {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 50px;
    background-color: rgba(17, 17, 17, 0.92);
    transition: transform 0.3s var(--animation-base);
    transform: translateY(-52px);
    -webkit-backdrop-filter: saturate(130%) blur(20px);
    backdrop-filter: saturate(130%) blur(8px);
    width: 100%;
}
.sheader {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 90;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    transition: transform 0.3s var(--animation-base);
    transform: translateY(-52px);
    -webkit-backdrop-filter: saturate(130%) blur(20px);
    backdrop-filter: saturate(130%) blur(8px);
    /* box-shadow: 0 28px 28px rgba(102, 102, 102, 0.1); */
    /* box-shadow:  -4px 3px 28px hsla(0, 0%, 40%, 0.1); */
    box-shadow: -4px 3px 28px hsla(0, 0%, 23.5%, 0.1);
}
.rheader{
    /* box-shadow: 0 28px 28px rgba(102, 102, 102, 0.1); */
    /* box-shadow:  -4px 3px 28px hsla(0, 0%, 40%, 0.1); */
    box-shadow: -4px 3px 28px hsla(0, 0%, 23.5%, 0.1);
}

.sticky-title {
    flex-grow: 1;
    overflow: hidden;
    margin-right: 1rem;
    color: rgb(255,255,255);
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sticky-toc-button {
    flex-shrink: 0;
    margin-right: 15px;
    margin-left: -10px;
}

.sticky-toc-button .icon {
    width: 24px;
    height: 24px;
}

.sticky-toc {
    visibility: hidden;
    position: absolute;
    top: 72px;
    left: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 250px;
    text-align: left;
    background-color: var(--lighter-gray-color);
    /* background-color: var(--white-color); */
    opacity: 0;
    transition-timing-function: var(--animation-base);
    transition-duration: 0.2s;
    transition-property: opacity transform;
    transform: translateY(-10px);

    /* border-width: 0.05px; */
    /* border-style: solid; */
    /* border-color:  var(--light-gray-color) ; */
    /* box-shadow: 0px 10px 28px hsla(0,0%,40%,.25); */

    /* border-top: 1px solid var(--dark-gray-color) ; */
    border-left: 1px solid var(--dark-gray-color) ;
}

/* .sticky-toc::after{
    position: absolute;
    bottom: 100%;
    right: 96%;
    
    content: "";
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    
    border-color: transparent transparent var(--dark-gray-color) transparent;
} */

.sticky-toc-link {
    padding: 0.6rem 1.7rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.sticky-toc-link-main{
    font-weight: 700;
    margin-top: 15px;
    font-size: 1.3rem;
}

.sticky-toc-link-indented::before {
    content: " •";
    margin-right: 0.5rem;
}

.toc-opened .sticky-toc {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.sticky-track {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.24);
}

.sticky-progress {
    height: 100%;
    background: #3b48f6;
    background: -moz-linear-gradient(-455deg, #3b48f6 0%, #3b48f6 30%, #ce059c 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #3b48f6), color-stop(0%, #3b48f6), color-stop(100%, #ce059c));
    background: -webkit-linear-gradient(-45deg, #3b48f6 0%, #3b48f6 30%, #ce059c 100%);
    background: -o-linear-gradient(135deg, #3b48f6 0%, #3b48f6 30%, #ce059c 100%);
    background: -ms-linear-gradient(135deg, #3b48f6 0%, #3b48f6 30%, #ce059c 100%);
    background: linear-gradient(135deg, #3b48f6 0%, #3b48f6 30%, #ce059c 100%);
    transition: transform 0.2s;
    transform: translate3d(-100%, 0, 0);
}

.sticky-visible .sticky {
    transform: translateY(0);
}

@media (max-width: 767px) {
    .sticky-title {
        font-size: 1.4rem;
        font-weight: 600;
    }
}
