.featured-wrapper {
    margin-top: 6rem;
}

.featured-wrapper .u-placeholder {
    margin-bottom: 3rem;
}

.featured-wrapper .post-title {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 500;
    
}

.featured-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-gray-color);
    color: var(--brand-color);
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    
}

.featured-title-blog {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-gray-color);
    color: var(--brand-color);
    font-size: 2.0rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: center;
    
}

.featured-title-research {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-gray-color);
    color: var(--brand-color);
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    /* text-align: center; */
    
}
